@font-face {
  font-family: "Permanet Marker";
  src:  url("fonts/PermanentMarker-Regular.ttf") format('truetype');
  src:  url("fonts/PermanentMarker-Regular.woff") format('woff');
  src:  url("fonts/PermanentMarker-Regular.woff2") format('woff2');

}

@font-face {
  font-family: "Acme";
  src: url("fonts/Acme-Regular.ttf") format('truetype');
  src: url("fonts/Acme-Regular.woff") format('woff');
  src: url("fonts/Acme-Regular.woff2") format('woff2');
}

.acme {
  font-family: Acme;
}

.marker{
  font-family: Permanet Marker;
}

body {
  text-align: center;
  font-size: 25px;
}

.largeFont1em {
  font-size: 1em;
}
.largeFont125em {
  font-size: 1.25em;
}
.largeFont15em {
  font-size: 1.5em;
}
.largeFont175em {
  font-size: 1.75em;
}
.largeFont2em{
  font-size:  2.0em;
}
.largeFont215em{
  font-size: 2.15em;
}
.largeFont3em{
  font-size: 2.5em;
}
.largeFont4em{
  font-size: 3.0em;
}
.jumpstart {
  text-align: left;
  margin-left: 1em;
}
.marginleft1em {
  margin-left: 4em;
}

.marginleft2em {
  margin-left: 4.25em;
}

.margintop1em {
  margin-top: 1em;
}

.green {
  color:#259434;
}

.orange{
  color:#dd7016;
}

.darkBlue {
  color: #254594;
}

.navyBlue {
  color: #003366;
}

.flex-container1 {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3em;
}
.flex-container2 {
  display: flex;
  justify-content: space-evenly;
}

.grid-containerBoxes{
  display: grid;
  grid-template-columns: 400px 400px;
  grid-gap: 20px;
  justify-content: center;
}

.grid-containerContact{
  display: grid;
  grid-template-columns: 475px 300px;
  justify-content: center;
  grid-gap: 100px;
  margin-bottom: 0px;
}

.grid-containerContactFreeGloves{
  display: grid;
  grid-template-columns: 500px 500px;
  grid-gap: 100px;
  margin-bottom: 0px;
  justify-content: center;
}

.flex-containerThreebox{
  display: flex;
  margin-bottom: 0px;
  justify-content: space-evenly
}

.orderNow {
  font-size: 25px;
  font-style: italic;

}
.left {
  text-align: left;
  margin-left: 125px;
}

.blue   {
  color: blue;
}

.CliniciansReport h5 {
  font-size: 18px;
  margin-bottom: 2px;
  margin-top: 2px;
  padding-right: 45px

}

.black {
  color: black;
}

.purple {
  color: #f900ff;
}

.ocean {
  background-color: #03c3ff;
}

.coral {
  background-color: #ff8080;
}

.hotpink {
  background: #FF69B4;
}

.bluemax {
  background: blue;
}

.white{
  color: white;
}

.red{
  color: red;
}


.savings h3 {
  float: right;
  display: inline-block;
}
.box {
  border: #00ceff;
  border-radius: 35px;
  border-style: solid;
  box-shadow: 5px 5px 5px grey;
  color: white;
}

.box h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.highlightYellow {
  background-color: yellow;
}
.highlightBlue {
  background-color: #34b6f3;
}

.indivSpacer5  h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.pg5splitContainer1 {
  display: flex;
  justify-content: space-evenly;
}

.pg5splitContainer2 {
  display: flex;
  justify-content: space-evenly;
}

.pg5splitContainer3 {
  display: flex;
  justify-content: center ;
  justify-content: space-evenly;
}
.pg5splitContainer4 {
  display: flex;
  justify-content: space-around;
  color: red;

}

.column2 {
display: flex;
flex-direction: column;
}

.spacertop2 {
  margin-top: 2px
}

.child1 {
  flex-basis: 43px | auto;
}
.block {
  display: block;
  float:
}

.contactBlock1 {
  font-size: 20px;
}


.adenna-grid {
  display: flex;;
  grid-template-columns: 530px 400px;
  justify-content: center;
  padding-left: 50px;
  grid-gap: 0px;

}


.CliniciansReport{
  padding-top: 25px;
  margin-right:25px;
}

.spacerbot0 {
  margin-bottom: 0px;
}

.spacer005em{
  margin-top:0.05em;
  margin-bottom:0.05em;
}
.spacer025em{
  margin-top:0.25em;
  margin-bottom:0.25em;
}
.spacer0 {
  margin-top:0px;
  margin-bottom:0px;
}

.spacer05em{
  margin-top: 0.5em;
  margin-bottom:0.5em;
}

.spacertop20 {
  margin-top:20px;
}

.spacertop25 {
  margin-top:25px;
}

.spacertop31 {
  margin-top:31px;
}

.spacertop40 {
  margin-top: 40px;
}

.justify {
  text-align: justify;
}

  #koolTouch h4{
    margin-top: 20px;
  }

.spacerbot20 {
  margin-bottom: 20px;
}

.paddingRight1 {
  padding-right:0px;
}

.pageBorder {
  border-style: solid;
  border-color: black;
  width: auto;
  margin-bottom: 1em;
}

.paddingBottom {
padding-bottom: 150px
}

.bold {
  font-weight: bold;
}

.paddingLeft1 {
  padding-left: 10px;
}
.paddingLeft2 {
  padding-left: 20px;
}
.paddingLeft3 {
  padding-left: 30px;
}
.paddingLeft4 {
  padding-left: 40px;
}
.paddingLeft200 {
  padding-left:200px;
}
.paddingRight140{
  padding-right:140px;
}

.rotate20 {
  transform:rotate(-5deg);
}


.coralText {
  color: #ff8080;
}

.hotPinkText {
  color: #FF69B4;
}
.text16px{
  font-size: 16px;
}

.text28px{
  font-size: 28px;
}
.text60px{
  font-size: 60px;
}

.underline{
  text-decoration: underline;
}

.y50percent{
  transform: scaleY(1.5);
}

.italics {
  font-style: italic;
}
.spacerPreserver {
  width: 1562px;
}

.titleSPacer {
  margin-top: 0.5em;
  margin-bottom: 0;
}

.text20px {
font-size: 20px;
}

.x50percent {
  transform: scaleX(2);
  transform: scale(1.5);

}
