@font-face {
  font-family: "Permanet Marker";
  src:  url("fonts/PermanentMarker-Regular.ttf") format('truetype');
  src:  url("fonts/PermanentMarker-Regular.woff") format('woff');
  src:  url("fonts/PermanentMarker-Regular.woff2") format('woff2');

}

@font-face {
  font-family: "Acme";
  src: url("fonts/Acme-Regular.ttf") format('truetype');
  src: url("fonts/Acme-Regular.woff") format('woff');
  src: url("fonts/Acme-Regular.woff2") format('woff2');
}

.acme {
  font-family: Acme;
}

.marker{
  font-family: Permanet Marker;
}

body {
  text-align: center;
}

.stretch1 {
  letter-spacing: 3px;
}

.stretch2 {
letter-spacing: 5px;}

.stretch3 {
letter-spacing: 10px;}

.underline{
  text-decoration: underline;
}

.italics {
  font-style: italic;
}
.tinyFont {
  font-size: 12px;
}
.mediumFont p {
  font-size:  20px;
}

.largefont20px {
  font-size: 20px;
}

.largeFont1{
  font-size: 30px;
  margin-bottom: 5px;
}

.largeFont2 {
  font-size: 40px;
  margin-bottom: 5px;
}

.largeFont3 {
  font-size: 50px;
  margin-bottom: 5px;
}


.largeFont4 {
  font-size: 65px;
  margin-bottom: 5px;
}
.largeFont5 {
  font-size: 80px;
  margin-bottom: 5px;
}

.spacer5  {
  margin-top:5px;
  margin-bottom: 5px;
}
.spacer10  {
  margin-top:10px;
  margin-bottom: 10px;
}
.spacer20  {
  margin-top:20px;
  margin-bottom: 20px;
}
.spacer40  {
  margin-top:40px;
  margin-bottom: 40px;
}

.spacerbot40{
  margin-bottom: 40px;
}
.spacerbot80{
  margin-bottom: 80px;
}

.spacertop10{
  margin-top:10px;
}
.spacertop25{
  margin-top:25px;
}
.spacertop0{
  margin-top:0px;
}

.green {
  color:#259434;
}

.orange{
  color:#dd7016;
}

.darkBlue {
  color: #254594;
}

.navyBlue {
  color: #003366;
}

.flex-container1 {
  display: flex;
  justify-content: space-evenly;
}

.grid-containerBoxes{
  display: grid;
  grid-template-columns: 400px 400px;
  grid-gap: 20px;
  justify-content: center;
}

.grid-containerContact{
  display: grid;
  grid-template-columns: 475px 300px;
  justify-content: center;
  grid-gap: 200   px;
  margin-bottom: 0px;
}

.grid-containerContactFreeGloves{
  display: grid;
  grid-template-columns: 500px 500px;
  grid-gap: 100px;
  margin-bottom: 0px;
  justify-content: center;
}

.flex-containerThreebox{
  display: flex;
  margin-bottom: 0px;
  justify-content: space-evenly
}

.orderNow {
  font-size: 25px;
  font-style: italic;

}
.left {
  text-align: left;
  margin-left: 125px;
}

.blue   {
  color: blue;
}

.CliniciansReport h4 {
  font-size: 21px;
  margin-bottom: 2px;
  margin-top: 2px;
  padding-right: 45px

}

.black {
  color: black;
}

.purple {
  color: #f900ff;
}

.ocean {
  background-color: #03c3ff;
}

.coral {
  background-color: #f88379;
}

.hotpink {
  background: #FF69B4;
}

.bluemax {
  background: blue;
}

.white{
  color: white;
}

.red{
  color: red;
}


.savings h3 {
  float: right;
  display: inline-block;
}
.box {
  border: #00ceff;
  border-radius: 35px;
  border-style: solid;
  box-shadow: 5px 5px 5px grey;
  color: white;
}

.box h2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.highlightYellow {
  background-color: yellow;
}
.highlightBlue {
  background-color: #34b6f3;
}

.indivSpacer5  h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.pg5splitContainer1 {
  display: flex;
  justify-content: space-evenly;
}

.pg5splitContainer2 {
  display: flex;
  justify-content: space-evenly;
}

.pg5splitContainer3 {
  display: flex;
  justify-content: center ;
  justify-content: space-evenly;
}
.pg5splitContainer4 {
  display: flex;
  justify-content: space-around;
  color: red;

}

.column2 {
display: flex;
flex-direction: column;
}

.spacertop2 {
  margin-top: 2px
}

.child1 {
  flex-basis: 43px | auto;
}
.block {
  display: block;
  float:
}

.contactBlock1 {
  font-size: 20px;
}


.adenna-grid {
  display: grid;
  grid-template-columns: 530px 340px;
  justify-content: center;
  padding-left: 310px;
  grid-gap: 0px;

}


.CliniciansReport{
  padding-top: 25px;
}

.spacerbot0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.spacer0 {
  margin-top:0px;
  margin-bottom:0px;
}

.spacertop20 {
  margin-top:20px;
}

.justify {
  text-align: justify;
}

  #koolTouch h4{
    margin-top: 20px;
  }

.spacerbot20 {
  margin-bottom: 20px;
}

.paddingRight1 {
  padding-right:0px;
}

.pageBorder {
  border-style: solid;
  border-color: black;
}

.paddingBottom {
padding-bottom: 150px
}

.bold {
  font-weight: bold;
}
