body {
  text-align: center;
}

.stretch1 {
letter-spacing: 5px;}

.stretch2 {
letter-spacing: 10px;}

.underline{
  text-decoration: underline;
}

.itallics {
  font-style: italic;
}

.mediumFont p {
  font-size:  20px;
}

.largeFont1{
  font-size: 30px;
  margin-bottom: 5px;
}

.largeFont2 {
  font-size: 40px;
  margin-bottom: 5px;
}

.spacer5  {
  margin-top:5px;
  margin-bottom: 5px
}
.spacer10  {
  margin-top:10px;
  margin-bottom: 10px
}
.spacer20  {
  margin-top:20px;
  margin-bottom: 20px
}
.spacer40  {
  margin-top:40px;
  margin-bottom: 40px
}

.spacerbot40{
  margin-bottom: 40px;
}
.spacerbot80{
  margin-bottom: 80px;
}

.spacertop10{
  margin-top:10px;
}

.green {
  color:#259434;
}

.orange{
  color:#dd7016;
}

.navylblue {
  color: #254594;
}

.grid-container {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-gap: 200px;
  justify-content: center;
}
.orderNow {
  font-size: 25px;
  font-style: italic;

}
